<div class='bg-light text-dark'
style='background:url(assets/img/banner_home.jpg);background-size:cover;position:absolute;width:100%;display:inline-block;height:600px;color:#000;width:100%;vertical-align:bottom'>

    <span style='vertical-align:bottom'>This is a banner</span>
</div>
<div style='display:block;height:200px'>
</div>
  
  <div class='col-sm-12 col-md-8 offset-md-2'>
  <div class='x-card' style='opacity:.95'>

    <div class="x-card-title" style='border-bottom:1px solid #9F3E35'>
        
        <h5 class="">
            <img src='assets/img/sb.jpg'/>
            <div style='display:inline-block;padding-top:10px'>SkillzBook College - Shopping Cart
            <small>Please confirm your selection and click Checkout once you are happy</small>
            </div>
        </h5>
      </div>


    <div class='x-card-body'>
      <table class="table">



        <tbody>
          <tr *ngFor="let course of this._courses" [attr.courseid]="course._id">
            <td>{{course.title}}</td>
            <td>R{{course.price}}</td>
            <td class='text-right'>
              <a class='btn btn-primary text-white' (click)="this.viewDetails(course._id)"><fa name='search'></fa></a>
              <button class='btn btn-danger text-white' (click)="this.removeItem(course._id)"><fa name='trash'></fa></button>
            </td>
          </tr>
        </tbody>
        <tr *ngIf="+this._total != 0">
            <td></td>
            <th>R{{this._total}}</th>
            <td class='text-right'></td>
          </tr>
      </table>
    </div>

    <div  *ngIf="+this._total != 0"class='x-card-footer'>
        <button class='btn btn-success' (click)="this.checkout()">Checkout</button>
    </div>

    </div>
    </div>
