

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(assets/font/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}


/* global styles */
html { touch-action: manipulation; }
body { font-family: Montserrat !important}
.accent { color: #AC352F;text-shadow: 0px 0px 2px #ff0000; }
.nav-link { cursor:pointer }
.x-loader { display:inline-block;border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; }
.x-loader { border: 16px solid #f3f3f3;   border-top: 16px solid blue; border-bottom: 16px solid blue }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
  
  

/* Material Cards Styling for consistent UI */ 
.x-card { box-shadow:0px 2px 5px 2px rgba(0, 0, 0, 0.10);opacity:.95;border:0;background:#fff }
.x-card-title { padding:20px;background:#fff;color:#333;border-bottom:1px solid #9F3E35 }
.x-card-title img { height:75px;vertical-align:top;margin-right:20px }
.x-card-title h5 { display:block }
.x-card-title small { display:inline-block;padding-top:15px;display:block;font-size:13px;color:#888}
.x-card-body { padding:20px;border-bottom:1px solid #9F3E35;background:#fff}
.x-card-body .btn { margin-left:20px }
.x-card-body .form-check { margin-top:20px }
.x-card-body .input-group-prepend .input-group-text { width:40px } 
.x-card-loader { border-bottom:1px solid #9F3E35; background:#fff; padding:20px; text-align:center}
.x-card-footer { background:#eee;padding:20px;text-align:right}
.x-card-footer .btn { margin-left:20px;margin-top:5px }
.x-card-footer .badge-primary { background:#fff;padding:10px;border-radius:10px;color:#CB444A;border:1px solid #888;margin: 5px}
.x-card-footer .badge-success { background:#fff;padding:10px;border-radius:10px;color:green;border:1px solid #888;margin: 5px}

/* home page */
.x-home-title { margin:30px 0px 90px 0px;border-bottom:1px solid #eee }
.x-home-tag { margin-left:15px; display:inline-block; font-size:12px;padding:3px}
.x-home-service { margin-top:15px; height:200px}
.x-home-service .icon { display:inline-block; width:96px;height:96px; border-radius:50%; border:1px solid #888}
.x-home-service .icon i { font-size: 48px;margin:22px }
.x-home-service .detail { margin-left: 120px; position: absolute; top: 0; }


/* search page */
.x-coursecard { margin:10px;cursor:pointer;border:0;box-shadow:0px 2px 5px 2px rgba(0, 0, 0, 0.10);  }
.x-coursecard a { color:inherit;text-decoration:none }
.x-coursecard a:hover { color:inherit;text-decoration:none }

.x-coursecard-banner {  }
.x-coursecard-price { position:absolute;bottom:10px;left:10px;background:#fff;border-radius:60px;width:60px;height:60px;text-align:center;padding-top:5px;color:#888}
.x-coursecard-price span { margin-top:12px;display:inline-block }
.x-coursecard-img { background:url(assets/img/banner_home.jpg);background-size:cover;min-height:200px;display:block }
.x-coursecard-title { height:40px;overflow:hidden}
.x-coursecard-text { height:145px;overflow:hidden;font-size:12px }
.x-coursecard-actions { text-align:right }
.x-coursecard-actions .btn { margin:5px}